.__btn-cart {
    width: 40px;
    height: 40px;
    background: none;
}

.__btn-cart .__syhhbx {
    position: relative;
    display: grid;
    width: inherit;
    height: inherit;
    place-items: center;
}

.__btn-cart .__syhhbx .__badge-point {
    position: absolute;
    display: grid;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
    font-size: .8em;
    font-weight: 500;
    color: var(--white);
    place-items: center;
    border-radius: 100px;
    background-color: var(--primary);
}

.__btn-cart .tabler-icon {
    width: 24px;
    height: 24px;
    stroke: var(--black);
}