.__xhtuxa {
    width: 300px;
    min-width: 300px;
    overflow: hidden;
    border-radius: 10px;
    background-color: var(--white);
}


.__xhtuxa .__xhstza {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.__xhtuxa .__xhstzb {
    padding: .5em 1em;
}
.__xhtuxa .__xhstzb .badge {
    font-size: .8em;
    font-weight: 500;
    padding: .2em .5em;
    border-radius: 100px;
}
.__xhtuxa .__xhstzb .badge-gender_1 {
    color: var(--pink);
    background-color: var(--pink-20);
}
.__xhtuxa .__xhstzb .badge-gender_2 {
    color: var(--blue);
    background-color: var(--blue-20);
}

.__xhtuxa .__xhstzb .__row-zsh {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.__xhtuxa .__xhstzb .__row-zsh .__tit-h4 {
    margin: 1em 0em;
}

.__xhtuxa .__xhstzb .__row-zsh .__prc {
    font-size: .8em;
    font-weight: bold;
}






/** VERTICAL **/

.__xhtuxb {
    width: 100%;
    display: flex;
    padding: .5em;
    margin-bottom: 1em;
    position: relative;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
}

.__xhtuxb--hidden {
    display: none;
}

.__xhtuxb .__colxs-1 {
    width: 80%;
    display: flex;
    gap: .5em;
    align-items: center;
}

.__xhtuxb .__colxs-1 .__c9usbzx .__photo {
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

.__xhtuxb .__colxs-1 .__c0usbzx h5 {
    overflow: hidden; 
    white-space: nowrap;      
    margin-bottom: .5em;
    text-overflow: ellipsis;
}

.__xhtuxb .__colxs-1 .__c0usbzx .badge {
    font-size: .8em;
    font-weight: 500;
    padding: .2em .5em;
    border-radius: 100px;
}
.__xhtuxb .__colxs-1 .__c0usbzx .badge-gender_1 {
    color: var(--pink);
    background-color: var(--pink-20);
}
.__xhtuxb .__colxs-1 .__c0usbzx .badge-gender_2 {
    color: var(--blue);
    background-color: var(--blue-20);
}

.__prc-xll {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: .5em;
    font-size: .8em;
    font-weight: bold;
    color: var(--white);
    background-color: var(--primary);
    border-radius: 0px 0px 10px 0px;
}



/* CURRENCY */

.__xnys61 {
    width: 100%;
    display: flex;
    padding: .5em;
    margin-bottom: 1em;
    position: relative;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
}

.__xnys61 .__xlosyz {
    width: 100%;
    display: flex;
    gap: .5em;
    align-items: center;
}

.__xnys61 .__xlosyz .__0oxn1jx .__photo {
    width: 80px;
    height: 80px;
    border-radius: 10px;
}
.__xnys61 .__xlosyz .__9oxn1jx {
    width: 100%;
}
.__xnys61 .__xlosyz .__9oxn1jx .badge {
    font-size: .8em;
    font-weight: 500;
    padding: .2em .5em;
    border-radius: 100px;
}
.__xnys61 .__xlosyz .__9oxn1jx .badge-gender {
    margin: .5em 0em;
}
.__xnys61 .__xlosyz .__9oxn1jx .badge-gender_1 {
    color: var(--pink);
    background-color: var(--pink-20);
}
.__xnys61 .__xlosyz .__9oxn1jx .badge-gender_2 {
    color: var(--blue);
    background-color: var(--blue-20);
}

.__xnys61 .__xlosyz .__9oxn1jx .__prc-product {
    display: block;
    margin: .5em 0em;
}

.__xnys61 .__xlosyz .__9oxn1jx .__ammount-change {
    width: 100%;
    display: flex;gap: .5em;
}
.__xnys61 .__xlosyz .__9oxn1jx .__ammount-change .__btn {
    display: grid;
    width: 30px;
    height: 30px;
    background: none;
    place-items: center;
}
.__xnys61 .__xlosyz .__9oxn1jx .__ammount-change .__btn .tabler-icon {
    width: 16px;
    height: 16px;
}
.__xnys61 .__xlosyz .__9oxn1jx .__ammount-change .__amount {
    display: grid;
    width: 30px;
    height: 30px;
    font-size: .8em;
    font-weight: bold;
    color: var(--primary);
    place-items: center;
    border-radius: 100px;
    background-color: var(--primary-20);
}

.__btn-delete {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: .5em;
    font-size: .8em;
    color: var(--primary);
    background-color: var(--primary-20);
    border-radius: 0px 0px 10px 0px;
}
.__btn-delete .tabler-icon {
    width: 16px;
    height: 16px;
}